<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.joy1joy.app.dao.TNoticesMapper">
	<resultMap id="BaseResultMap" type="com.joy1joy.app.bean.TNotices">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="cuid" property="cuid" jdbcType="INTEGER" />
		<result column="upvoteCount" property="upvoteCount" jdbcType="INTEGER" />
		<result column="commentCount" property="commentCount" jdbcType="INTEGER" />

		<result column="cdatetime" property="cdatetime" jdbcType="TIMESTAMP"
			javaType="java.sql.Timestamp" />
		<result column="userid" property="userid" jdbcType="VARCHAR" />
		<result column="icon" property="icon" jdbcType="VARCHAR" />


	</resultMap>

	<select id="selectTNoticesByLimit" resultMap="BaseResultMap"
		parameterType="map">
		select m.*, n.userid, n.thumbnail as icon from t_notices m left join
		t_users n on m.cuid=n.uid where 1=1
		<if test="status == 2">
			and status= #{status,jdbcType=INTEGER}
		</if>
		<if test="type!=null and type!=''">
			and m.type like CONCAT('%',#{type},'%')
		</if>
		ORDER BY id DESC LIMIT
		#{offset},#{limit}
	</select>
	<select id="selectTNoticesCount" resultType="java.lang.Integer"
		parameterType="map">
		select count(*) from t_notices where 1=1
		<if test="status == 2">
			and status= #{status,jdbcType=INTEGER}
		</if>
		<if test="type!=null and type!=''">
			and type=#{type,jdbcType=VARCHAR}
		</if>
	</select>
	<select id="selectTNoticesList" resultMap="BaseResultMap">
		select * from
		t_notices
	</select>
	<select id="selectRecentNotices" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		select * from
		t_notices where 1=1 and status=2 and
		type=#{type} order
		by cdatetime
		limit #{start},#{end}
	</select>
	<select id="selectTNoticesById" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select m.*,n.userid, n.thumbnail as icon from t_notices
		m left join t_users n on m.cuid=n.uid where m.id =
		#{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_notices
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insertTNotices" parameterType="com.joy1joy.app.bean.TNotices">
		insert into t_notices
		(title,type,content,status,cuid,cdatetime)
		values
		(#{title,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
		#{cuid,jdbcType=INTEGER}
		, #{cdatetime,jdbcType=TIMESTAMP})
	</insert>


	<update id="updateTNoticesUpvoteCount">
		update t_notices set upvoteCount=upvoteCount+1 where
		1=1 and
		id=#{id}
	</update>

	<update id="updateTNoticesCommentCount">
		update t_notices set commentCount=commentCount+1
		where 1=1 and
		id=#{id}
	</update>



	<select id="getOrgNoticesWithPages" parameterType="page"
		resultType="TNotices">
		select
		t1.*,t3.userid, t3.thumbnail as icon
		from t_notices t1,t_users t3
		where 1=1 and
		t1.cuid=t3.uid and
		t1.cuid=#{uid}
		order by
		id
		desc limit
		#{start},#{size}
	</select>
	<select id="getOrgNoticeesWithPagesCount" parameterType="java.lang.Integer"
		resultType="java.lang.Integer">
		select count(*) from t_notices t2,t_users t3 where 1=1
		and
		t2.cuid=t3.uid and
		t2.cuid=#{uid}
		order by
		id desc
	</select>

</mapper>