.cate {
	
    margin-bottom: 20px;
    color: #999;
    font-size: 12px;
}

.cate span{
    margin-left: 10px;
    font-size: 14px;
    color: #666;
}

span.cate-items {
    margin-left: 10px;
    font-size: 14px;
    color: #666;
}

.tag {
    display: inline-block;
    padding: 4px 8px;
    margin-top: 5px;
    background: #cde3fa;
    font-size: 12px;
    border-radius: 5px;
    white-space: nowrap;
    line-height: 1;
    margin-left: 10px;
    font-size: 13px;
}
.alltitle{
	  margin-bottom: 30px;
}

.cate-on {
    color: #666;
    font-size: 14px;
    margin-left: 10px
}


.posttime {
    background-image: url('../images/time.png');
    background-repeat: no-repeat;
    background-size: 351px 15px;
    height: 12px;
    width: 15px;
	
	}

.postVoteArrow {
    background-image: url('../images/upvote-burst-white1.png');
    background-repeat: no-repeat;
    background-size: 351px 15px;
    height: 12px;
    width: 15px;
}

.actionButtons .button {
    margin-right: 10px;
}

.smallSize {
    height: 24px;
    padding: 0 8px;
}
.button {
    border-radius: 3px;
    border: 1px solid transparent;
    box-sizing: border-box;
    outline: 0;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    text-decoration: none!important;
    margin-right: 10px;
}
.simpleVariant {
    background: #fff;
    border-color: #f2f2f2;
    color: #000;
    fill: #000;
}

.secondaryText {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .6px;
    line-height: 16px;
    text-transform: uppercase;
}
.buttonContainer {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: inherit;
}
.button path {
    fill: inherit;
}

.greySolidColor {
    background: #f2f2f2;
    border-color: #f2f2f2;
    color: #000;
    fill: #000;
}
.subtleVariant {
    color: #999;
    fill: #999;
}
.zuix{
	padding:10px;
	}
.zuix span{
	
	overflow: hidden;
    padding-bottom: 10px;
    font-weight: 200;
    font-size: 24px;
    color: #737069;
	}
.zuix  a {
    font-size: 14px;
    color: #aca8a7;
}
.zuix  a:visited {
    font-size: 14px;
    color: #aca8a7;
}

.swiper-container {
        width: 100%;
        height: 450px;
        
    }
.swiper-slide {
        font-size: 18px;
        background: #fff;

    }
    
 .swiper-button-next{
    dispaly:none;
    }
    
.swiper-button-prev{
    dispaly:none;
    }
    
 .title-over{
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
 }

